<div style="text-align: center;" class="panel panel-default">

	<div class="panel-heading">
		<h2>Administration</h2>
	</div>

	<div style="text-align: left;" class="panel-body">

		<p>
                        <div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">Overview</h3>
                                </div>

                                <div class="panel-body">
                                        <ul>
                                                <li>There are currently <%= app_count %> apps installed</li>
                                                <li><%= module_count %> modules have been detected across <%= nexus_count %> Nexus device<%= nexus_count == 1 ? "" : "s" %>  (link to rescan network)</li>
                                        </ul>
                                </div>

                        </div>
                </p>


		<p>
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title">Add a Nexus</h3>
				</div>

				<div class="panel-body">
					This panel will contain the menu for adding a new Nexus, including:<br /><br />
					<ul>
						<li>Contain a download link for the nexus installation script</li>
						<li>Allow the user to specify which GPIO ports use which module types</li>
						<li>Generate a configuration file for the nexus</li>
					</ul>
				</div>

			</div>
		</p>

		<p>
                        <div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">Create an App</h3>
                                </div>

                                <div class="panel-body">
                                        This panel will contain a small menu to set an app name and generate a blank template with that name, to help start building new apps.
                                </div>

                        </div>
                </p>


		<p>
			<div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">All Modules</h3>
                                </div>  

                                <div class="panel-body">
					<div class="well table-responsive">
                                        	<table style="width: 100%; text-align: center;">
							<tbody>
								<tr>
									<td><b>Name</b></td>
									<td><b>Type</b></td>
									<td><b>Room</b></td>
									<td><b>Nexus IP</b></td>
								</tr>

								<% modules.each do |mod| %>
									<tr>
                                	                                        <td><%= mod[:name] %></td>
                        	                                                <td><%= mod[:type] %></td>
                	                                                        <td><%= mod[:room] %></td>
        	                                                                <td><%= mod[:nexus_ip] %></td>
	                                                                </tr>
								<% end %>

							</tbody>
						</table>
					</div>
                                </div>  
                        </div>
		</p>

		<p>
                        <div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">All Callbacks</h3>
                                </div>

                                <div class="panel-body">
                                        <div class="well table-responsive">
                                                <table style="width: 100%; text-align: center;">
                                                        <tbody>
                                                                <tr>
                                                                        <td><b>Module</b></td>
                                                                        <td><b>Call</b></td>
                                                                </tr>

                                                                <% callbacks.each do |callback| %>
                                                                        <tr>
                                                                                <td><%= callback[0] %></td>
                                                                                <td><%= callback[1] %>.<%= callback[2] %></td>
                                                                        </tr>
                                                                <% end %>

                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                        </div>
                </p>


	</div>
</div>
