<div style="text-align: center;" class="panel panel-default">

	<div class="panel-heading">
		<h2>Administration</h2>
	</div>

	<div style="text-align: left;" class="panel-body">

		<% if defined? message and message != nil %>
                        <div class="alert <%= message[:class] %> alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <strong><%= message[:title] %></strong> <%= message[:detail] %>
                        </div>
                <% end %>

		<p>
                        <div class="panel panel-default">
                                <div class="panel-body" style="text-align: center; background-color: #f5f5f5;">
					<table style="width: 100%; text-align: center;">
						<tbody>
							<tr>
								<td><h4><%= app_count %> app<%= app_count == 1 ? "" : "s" %> installed</h4></td>
								<td><h4><%= nexus_count %> nexus device<%= nexus_count == 1 ? "" : "s" %> detected</h4></td>
	        		                        	<td><h4><%= module_count %> sensor<%= module_count == 1 ? "" : "s" %> reported</h4>
							</tr>
						</tbody>
					</table>
                                </div>
                        </div>
                </p>

		<p>
                        <div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">Maintaince</h3>
                                </div>

                                <div class="panel-body">

					<div class="well table-responsive">
						<table style="width: 100%; border-collapse: separate; border-spacing: 0px 4px;">
							<tbody>
								<tr>
									<td style="text-align: left;">
										<b>Clear Sensors</b>
									</td>
									<td style="text-align: center;">
										Remove all sensors for the database
									</td>
									<td style="text-align: right;">
										<button id="clearmodules" type="button" class="btn btn-default btn-xs btn-danger">Clear</button>
									</td>
								</tr>

                                                                <tr>
                                                                        <td style="text-align: left;">
                                                                                <b>Clear Nexus</b>
                                                                        </td>
                                                                        <td style="text-align: center;">
                                                                                Remove all Nexus devices and all sensors from the database
                                                                        </td>
                                                                        <td style="text-align: right;">
                                                                                <button id="clearnexus" type="button" class="btn btn-default btn-xs btn-danger">Clear</button>
                                                                        </td>
								</tr>

                                                                <tr>
                                                                        <td style="text-align: left;">
                                                                                <b>Nexus Scan</b>
                                                                        </td>
                                                                        <td style="Text-align: center;">
                                                                                Re-scan the known Nexus devices to discover sensors
                                                                        </td>
                                                                        <td style="text-align: right;">
										<button id="scannexus" type="button" class="btn btn-default btn-xs btn-warning">Scan</button>
                                                                        </td>
                                                                </tr>
                                                        </tbody>
                                                </table>
					</div>

                                </div>

                        </div>
                </p>

		<p>
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title">Add Nexus</h3>
				</div>

				<div class="panel-body">
					<div class="well table-responsive">
						<table id="newsensors" width="100%">
							<tr>
								<td><b>Class</b></td>
								<td><b>Name</b></td>
								<td><b>Room</b></td>
								<td><b>Pin</b></td>
							</tr>
						</table>
					</div>
					<table>
						<tr>
							<td><button id="addsensor" class="btn btn-default btn-primary btn-success" type="button">Add Sensor</button></td>
				        		<td>
								<div class="input-group">
							                <input id="location-input" type="text" class="form-control" placeholder="terramod ip">
							                <span class="input-group-btn">
						                        	<button id="generateconf" class="btn btn-default btn-primary" type="button">Generate config</button>
					        	        	</span>
				       				</div>
							</td>
						</tr>
					</table>
				</div>

			</div>
		</p>

		<p>
			<div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">All Sensors</h3>
                                </div>  

                                <div class="panel-body">
					<div class="well table-responsive">
                                        	<table style="width: 100%; text-align: center;">
							<thead>
								<tr>
									<td><b>Name</b></td>
									<td><b>Type</b></td>
									<td><b>Room</b></td>
									<td><b>Nexus IP</b></td>
								</tr>
							</thead>

							<tbody>
								<% modules.each do |mod| %>
									<tr>

                                	                                        <td>
											<label id="<%= mod[:uuid] %>-name" uuid="<%= mod[:uuid] %>" type="name" default="<%= mod[:name] %>"><%= mod[:name] %></label>
											<input class="clicked" type="text" />
										</td>

                        	                                                <td>
											<%= mod[:type] %>
										</td>

                	                                                        <td>
											<label id="<%= mod[:uuid] %>-room" uuid="<%= mod[:uuid] %>" type="room" default="<%= mod[:room] %>"><%= mod[:room] %></label>
                                                                                        <input class="clicked" type="text" />
										</td>

        	                                                                <td>
											<%= mod[:nexus_ip] %>
										</td>
	                                                                </tr>
								<% end %>
							</tbody>
						</table>
					</div>
                                </div>  
                        </div>
		</p>

		<p>

                        <div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">All Callbacks</h3>
                                </div>

                                <div class="panel-body">
                                        <div class="well table-responsive">
                                                <table style="width: 100%; text-align: center;">
                                                        <tbody>
                                                                <tr>
                                                                        <td><b>Sensor</b></td>
									<td><b>Event</b></td>
                                                                        <td><b>Call</b></td>
                                                                </tr>

                                                                <% callbacks.each do |callback| %>
                                                                        <tr>
                                                                                <td><%= callback[:module] %></td>
										<td><%= callback[:event] %></td>
                                                                                <td><%= callback[:class] %>.<%= callback[:method] %>(db, uuid, event)</td>
                                                                        </tr>
                                                                <% end %>

                                                        </tbody>
                                                </table>
                                        </div>
                                </div>
                        </div>
                </p>

	</div>
</div>

<script>

$('.clicked').hide()
.focusout(update_module)
.keyup(function (e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
        $(this).blur();
    }
})
.prev().click(function () {
    $(this).hide();
    $(this).next().show().focus();
});

function update_module(e) {
	var input = $(e.target);
	var label = input && input.prev();
	label.text(input.val() === '' ? label.attr('default') : input.val());
	input.hide();
	label.show();
	var name;
	var room;
	var uuid = label.attr('uuid');
	if (label.attr('type') == 'name') {
		name = label.text();
		room = document.getElementById(uuid+'-room').textContent;
	} else {
		room = label.text();
		name = document.getElementById(uuid+'-name').textContent;
	}
	rename(uuid, name, room);
}

function rename(uuid, name, room){
	NProgress.start();
	$.get("/rename/"+uuid+"/"+name+"/"+room, function(body) {
		NProgress.done();
	});
}

$('body').on('click', '#scannexus', function () {
	NProgress.start();
	$.get("/nexus_scan", function(body) {
		NProgress.done();
		document.open();
		document.write(body);
		document.close();
	});
});

$('body').on('click', '#clearmodules', function () {
	$.get("/clear_modules", function(body) {
		document.open();
		document.write(body);
		document.close();
	});
});

$('body').on('click', '#clearnexus', function () {
        $.get("/clear_nexus", function(body) {
                document.open();
                document.write(body);
                document.close();
        });
});

$('body').on('click', '#addsensor', function () {
	var row = '<tr>';
	row += '<td><input type="text"></td>';
	row += '<td><input type="text"></td>';
	row += '<td><input type="text"></td>';
	row += '<td><input type="text"></td>';
	row += '</tr>';
	$('#newsensors tr:last').after(row);
});

$('body').on('click', '#generateconf', function () {
	var sensors = [];
	// parse table into array of sensor hashes
	$.ajax({
		type : 'POST',
		url : '/generate_config',
		data : sensors
	});
});

</script>

