<div style="text-align: center;" class="panel panel-default">

	<div class="panel-heading">
		<h2>Configure App</h2>
	</div>

	<div style="text-align: left;" class="panel-body">

		<p>
			<div class="panel panel-default">

                        	<div class="panel-heading">
                                	<h3 class="panel-title">About App</h3>
                		</div>

               			<div class="panel-body" style="text-align: left;">
                        		<%
						name = app[0]
						version = app[1]
						object = app[2]
						description = app[3]
						app_dir = app[4]
					%>
					<b>Name: </b><%= name %><br />
					<b>Version: </b><%= version %><br />
					<b>Description: </b><%= description %><br /><br />
					<% app = Module.const_get(object)%>
					<% if app.methods.include?(:routes) and app.routes.map{ |route| break true if route[:url] == "dashboard"} == true %>
						<a href="/<%= object %>/dashboard"><button type="button" class="btn btn-default btn-primary">View Dashboard</button></a>
					<% end %>
					<a href="/download_zip/<%= object %>"><button type="button" class="btn btn-default btn-primary">Download</button></a>
					<a href="/uninstall_app/<%= object %>"><button type="button" class="btn btn-default btn-danger">Uninstall</button></a>
                		</div>
			</div>
		</p>

		<% if File.exists?("./apps/#{app_dir}/views/options.erb") %>
		<p>
			<div class="panel panel-default">

				<div class="panel-heading">
					<h3 class="panel-title">Edit Options</h3>
				</div>

				<div class="panel-body">
					<%= yield %>
				</div>
			</div>
		</p>
		<% end %>

		<% available_methods = app.methods - Object.methods - [:install_tables, :remove_tables, :tile, :routes]
		   if available_methods.size > 0
		%>
		<p>
                        <div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">Available Methods</h3>
                                </div>

                                <div class="panel-body">
					<div class="well table-responsive">
						<% available_methods.each do |func_name|
								func = Module.const_get(object).method(func_name)
								args = func.arity > 0 ? func.parameters.map(&:last).map(&:to_s).join(", ") : "" %>
								<tr>
									<td><b><%= object.to_s %>.<%= func_name.to_s %>(<%= args %>)</b></td>
								</tr>
						<% end %>
					</div>
                                </div>
                        </div>
                </p>
		<% end %>

		<% if app.methods.include? :routes%>
                <p>
                        <div class="panel panel-default">

                                <div class="panel-heading">
                                        <h3 class="panel-title">Available Routes</h3>
                                </div>

                                <div class="panel-body">
                                        <div class="well table-responsive">
                                                <% app.routes.each do |route|
								dest = ""
								if route[:method] != nil
									dest = "#{object}.#{route[:method].to_s.split("Method:")[1].split(">")[0].split(".")[1]}(#{route[:method].parameters.map(&:last).map(&:to_s).join(", ")})"
								else
									dest = "/apps/#{object}/views/#{route[:template]}.erb"
								end %>
                                                                <tr>
                                                                        <td><b><%= route[:verb].upcase %> /<%= object %>/<%= route[:url] %> &#61;&#62; <%= dest %></b></td>
                                                                </tr>
                                                <% end %>
                                        </div>
                                </div>
                        </div>
                </p>
		<% end %>

	</div>
</div>
