<center><h1>Welcome Home</h1></center>
<br />

<div class="tiles white-text">

	<% tiles.each do |tile| %>

		<div class="live-tile <%= tile[:color]  %>" id="<%= tile[:object] %>" data-mode="flip">        

			<div class="front">
				<% if tile[:front] %>
					<p style="text-align: center; font-size:xx-large;"><%= tile[:front][:title] %></p>
					<%= tile[:front][:body] %>
				<% end %>
			</div>

			<div class="back">
				<% if tile[:back] %>
					<p style="text-align: center;font-size:xx-large;"><%= tile[:back][:title] %></p>
        	                        <%= tile[:back][:body] %>
				<% end %>
			</div>

			<script type="text/javascript">
				var $tile<%= tile[:object] %> = null;
				
				var front<%= tile[:object] %>Click = function (event) {
				        if ($tile<%= tile[:object] %> == null)
				                $tile<%= tile[:object] %> = $(<%= tile[:object] %>).liveTile({ repeatCount: 0, delay: 0 });
				        else
				                $tile<%= tile[:object] %>.liveTile('play');
				}

				var back<%= tile[:object] %>Click = function (event) {
				        $tile<%= tile[:object] %>.liveTile('play');
				}

				$("#<%= tile[:object] %>").find(">.front").bind("click", front<%= tile[:object] %>Click);
				$("#<%= tile[:object] %>").find(">.back").bind("click", back<%= tile[:object] %>Click);
			</script>

		</div>

	<% end %>

</div>

<style>
.white-text {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
</style>

<script>
	$( ".tiles" ).sortable();
	$( ".tiles" ).disableSelection();
</script>
