<div style="text-align: center;" class="panel panel-default">

	<div class="panel-heading">
		<h2>Manage Apps</h2>
	</div>

	<div class="panel-body">
		<% if defined? message and message != nil %>
			<div class="alert <%= message[:class] %> alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong><%= message[:title] %></strong> <%= message[:detail] %>
			</div>
		<% end %>
		<% apps.each do |app| 
			name = app[0]
			version = app[1]
			object = app[2]
			description = app[3]%>

			<div class="well table-responsive">
				<table style="width: 100%;">
					<tbody>
						<tr>
							<td>
                                                                <h4><a href="/app_detail/<%= object %>"><%= name %></a></h4>
                                                        </td>

                                                        <td>
                                                                Version <%= version %>
                                                        </td>


							<td>
								<%= description[0..80] + (description.size > 80 ? "..." : "" ) %>
							</td>

							<td align="right">
								<button type="button" class="btn btn-danger btn-default" onclick="uninstall_app('<%= object %>')">
                                                                	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Uninstall
                                                        	</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		<% end %>

	        <form action="/install_app" method="POST" enctype="multipart/form-data">
			<label class="btn btn-default btn-lg btn-success" for="appfile">
				<input type="file" name="appfile" id="appfile" style="display:none">
				<span class="glyphicon glyphicon-upload" aria-hidden="true" /> Install
			</label>
		</form>
	</div>
</div>

<script>
	var file = document.getElementById('appfile');
	file.onchange = function() {
		if (this.value !== '') {
			this.form.submit();
		}
	};

//       function install_all() {
//                $.get("/nexus_scan", function(body) {
//                        document.open();
//                        document.write(body);
//                        document.close();
//                });
//        };

        function uninstall_app(app_name) {
                $.get("/uninstall_app/"+app_name, function(body) {
                        document.open();
                        document.write(body);
                        document.close();
                });
        };


</script>
